@media (max-width: 980px) {
    #redes {
        display: none;
    }
    #text_sobrenos {
        display: flex;
        flex-flow: column;
    }
    #div_sobre_nos h1 {
        font-size: 1.9em;
    }
    #text_sobrenos p {
        width: 100%;
        font-size: 1.2em;
        margin-bottom: 10px;
    }
    #video_sobrenos {
        width: 55vw;
        height: 41.25vh;
    }
    #video_sobrenos iframe {
        width: 100%;
        height: 100%;
    }
    #noticias {
        height: 110vh;
    }
    .noticia {
        width: 255px;
        height: 450px;
    }
    #noticia2, #noticia3 {
        display: none;
    }
    .noticia h2 {
        padding-right: 10px;
        padding-left: 10px;
        font-size: 1.3em;
    }
    .noticia p {
        font-size: 0.8em;
    }
}
@media (max-width: 900px) {
    #text_sobrenos p {
        font-size: 1em;
    }
    #video_sobrenos { 
        width: 60vw;
        height: 45vh;
    }
}
@media (max-width: 677px) {
    section {
        width: 100%;
    }
    nav {
        width: 100%;
        justify-content: center;
    }
    nav a svg {
        fill: green;
    }
    #secoes {
        display: none;
    }
    #redes {
        display: flex;
        position: relative;
        justify-content: center;
        gap: 5px;
        margin-right: 20px;
    }
    #menu_mobile {
        display: block; 
        padding: 20px;
        position: absolute;
        right: 20px;
        color: green;
    }
    #menu_mobile span {
        font-size: 2.5em;
        cursor: pointer;
    }
    .container {
        width: 100vw !important;
        padding: 10px;
    }
    #sobre_nos {
        height: 120vh;
    }
    #div_sobre_nos {
        padding: 0px;
    }
    #text_sobrenos p {
        padding: 20px;
        font-size: 1em;
    }
    #video_sobrenos {
        width: 100vw;
        height: 40vh;
    }
    #video_sobrenos iframe {
        width: 100%;
        height: 100%;
    }
    #reflorestamento {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0px;
        margin: 0px;
    }
    #reflorestamento h2 {
        font-size: 2em;
        margin-bottom: 20px;
        margin-left: 0px;
    }
    #reflorestamento ul {
        flex-direction: column;
        width: 90vw;
        font-size: 1em
    }
    #reflorestamento ul li {
        width: 90vw;
    }
    #reflorestamento ul li img {
        width: 50px;
        height: 50px;
        margin-bottom: 10px;
    }
    #frases {
        width: 100vw;
        margin-left: 2px;
        padding-right: 0px;
    }  
    #text_frases {
        width: 410px;
    }
}