@charset "UTF-8";
* {
    margin: 0px;
    padding: 0px;
    border: none;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
header {
    display: flex;
    position: fixed;
    align-items: center;
    top: 0;
    width: 100%;
    height: 11vh;
    z-index: 1000;
    padding: 10px 20px;
    background-color: #00000058;
}
header:hover {
    background-color: #000000aa;
    transition: 0.1s;
}
#logo {
    height: 68px;
    margin-left: 20px;
}
nav {
    display: flex;
    align-items: center;
}
#redes {   
    display: flex;
    justify-content: center;  
    gap: 20px;
    padding: 20px;
    position: absolute;
    right: 20px;
}
#secoes {
    display: flex;
    align-items: center;
}
nav a {
    margin: 0 10px;
    color: #cdcb3d;
    text-decoration: none;
}
nav a svg {
    width: 24px;
    height: 24px;
    fill: #cdcb3d;
}
nav a:hover svg {
    fill: rgb(0, 255, 0);
}
#secoes ul{
    display: flex;
    margin-left: 40px;
    list-style: none; 
    font-family: "Old Standard TT", serif;
}
#secoes ul li {
    font-size: 1.3em;
    letter-spacing: 5px;
    margin-right: 30px;
}
section {
    height: 100vh;
    background-size: cover;
    
    background-blend-mode: darken;
    background-color: rgba(0, 0, 0, 0.207);
    padding-top: 80px;
}
#pagina_inicial {
    background-image: url(../imagens/background_inicial.png);
    display: flex;
    justify-content: center;
    align-items: center;
}
#pagina_inicial h1 {
    display: inline-block;
    color: #cdcb3d;
    background-color: rgba(0, 0, 0, 0.653);
    padding: 10px;
    margin-bottom: 80px;
    font-family: "Old Standard TT", serif;
    font-size: 3em;   
    letter-spacing: 8px;
}
#frases {
    display: flex;
    background-image: linear-gradient(to bottom, #3dbb50, #1B8C2C, #11591C);
    color: white;
    font-size: 2em;
    justify-content: space-between;
    margin-bottom: 40px;
    padding-top: 40px;
}
#frases p {
    margin-bottom: 20px;
}
#text_frases {
    width: 400px;
    margin-left: 150px;
}
#img_arvore {
    margin-right: 150px;
}
#sobre_nos {
    display: flex;
    width: 100%;
    padding-left: 100px;
    padding-right: 20px;
    box-shadow: 1px 1px rgba(255, 251, 251, 0.059);
    background-image: url(../imagens/background_sobre.jfif);
    color: white;
}
#text_sobrenos {
    padding: 20px;
}
#text_sobrenos h1 {
    margin-bottom: 20px;
    font-family: "Poppins", sans-serif;
    font-size: 2.3em;
    color: #11591C;
    font-weight: bolder;
}
#text_sobrenos p {
    text-align: justify;
    font-size: 1.2em;
}
#impactos {
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
#impactos h1 {
    font-size: 2.5em;
    color: #2c3e50;
    text-align: center;
    margin-bottom: 20px;
}
.lista.reflorestamento {
    /* background-color: #ffffff; */
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}
.lista.reflorestamento h2 {
    display: flex;
    align-items: center;
    font-size: 1.8em;
    color: #27ae60;
    margin-bottom: 15px;
}
.lista.reflorestamento h2 img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    border-radius: 50%;
}
.lista.reflorestamento ul {
    list-style-type: none;
    padding: 0;
}
.lista.reflorestamento ul li {
    font-size: 1.2em;
    color: #34495e;
    margin-bottom: 10px;
}
.lista.reflorestamento ul li strong {
    color: #27ae60;
}
#div_noticias {
    display: flex;
    justify-content: center;
}
#noticias h1 {
    margin-left: 210px;
    color: #11591C;
    margin-bottom: 40px;
    font-family: "Poppins", sans-serif;
    font-size: 2.4em;
    font-weight: bolder;
}
.noticia {
    display: flex;
    flex-flow: column;
    margin-bottom: 40px;
    padding: 20px;
    padding-top: 0px;
}
.noticia img {
    width: 338px;
    height: 210px;
}
.noticia h2 {
    border-top: 1px solid #E66C2D;
    margin-top: 10px;
    padding-top: 20px;
    margin-bottom: 10px;
    width: 338px;
}
.noticia p {
    width: 338px;
    text-align: justify;
}
.noticia a {
    color: #11591C;
    text-decoration: none;
}
.noticia a:hover {
    text-decoration: underline;
}
footer {
    top: 0;
    width: 100%;
    z-index: 1000;
    padding: 10px 20px;
    border-bottom: 1px solid #060505;
    line-height: 1.5em;
    background-color: #dbd5b8;
}
footer div p {
    justify-content: center;
}