@charset "UTF-8";
* {
    margin: 0px;
    padding: 0px;
    border: none;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #dbd5b8;
    border-bottom: 1px solid #060505;
}

#logo {
    margin: auto;
    margin-left: 700px;
    height: 80px;
}

nav a {
    margin: 0 10px;
    color: #333;
    text-decoration: none;
}

nav a svg {
    width: 24px;
    height: 24px;
    fill: #333;
}

nav a:hover svg {
    fill: #007bff;
}
