@charset "UTF-8";
* {
    margin: 0px;
    padding: 0px;
    border: none;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
body {
    background-image: linear-gradient(to right, #1fa133, #1B8C2C, #11591C);
    padding-top: 100px;
}
header {
    display: flex;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    justify-content: center;
    padding: 10px 20px;
    background-color: #dbd5b8;
    border-bottom: 1px solid #060505;
}
#logo {
    height: 80px;
}
nav {
    display: flex;
    align-items: center;
}
#redes {
    position: absolute;
    right: 20px;
}
#secoes {
    display: flex;
    left: 20px;
    align-items: center;
}
nav a {
    margin: 0 10px;
    color: #333;
    text-decoration: none;
}
nav a svg {
    width: 24px;
    height: 24px;
    fill: #333;
}
nav a:hover svg {
    fill: #007bff;
}
#secoes ul{
    display: flex;
    position: absolute;
    left:20px;
    gap: 20px;
    list-style: none; 
}
section {
    scroll-margin-top: 100px;
}
#pagina_inicial {
    display: flex;
    flex-flow: column;
}
#frases {
    display: flex;
    color: white;
    font-size: 2em;
    justify-content: space-between;
    margin-bottom: 40px;
    margin-top: 40px;
}
#frases p {
    margin-bottom: 20px;
}
#text_frases {
    width: 400px;
    margin-left: 150px;
}
#img_arvore {
    margin-right: 150px;
}
#sobre_nos {
    display: flex;
    scroll-margin-top: 100px;
    background-color: white;
    width: 90%;
    margin: auto;
    border-radius: 20px;
    box-shadow: 3px 3px rgba(0, 0, 0, 0.258);
}
#text_sobrenos {
    padding: 20px;
}
#text_sobrenos h1 {
    margin-bottom: 20px;
    font-family: "Poppins", sans-serif;
    font-size: 2.3em;
    color: #11591C;
    font-weight: bolder;
}
#text_sobrenos p {
    text-align: justify;
    font-size: 1.2em;
}
#noticias {
    width: 80%;
    margin: 20px auto;
    padding: 30px;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    gap: 40px;
}
#noticias h1 {
    text-align: center;
    color: #11591C;
    margin-bottom: 40px;
    font-family: "Poppins", sans-serif;
    font-size: 2.3em;
    font-weight: bolder;
}
.noticia1, .noticia2, .noticia3 {
    margin-bottom: 40px;
    padding: 20px;
    border-radius: 15px;
    background-color: #f9f9f9;
    display: flex;
    align-items: flex-start;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
}
.noticia1 img, .noticia2 img, .noticia3 img {
    max-width: 250px;
    border-radius: 10px;
    margin-right: 30px;
}
.noticia1 a, .noticia2 a, .noticia3 a {
    text-decoration: none;
    color: #333;
}
.noticia1 a:hover, .noticia2 a:hover, .noticia3 a:hover {
    text-decoration: underline;
}
.noticia1 h2, .noticia2 h2, .noticia3 h2 {
    margin: 0;
    font-size: 1.6em;
    color: #333;
    max-width: 400px;
}
.noticia1 p, .noticia2 p, .noticia3 p {
    color: #666;
    line-height: 1.6em;
    max-width: 400px;
}
.noticia1 p:last-child, .noticia2 p:last-child, .noticia3 p:last-child {
    font-style: italic;
    color: #999;
}